/** Base CSS style, used as a common starting point for all the pages **/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.6em;
	font-family: Raleway, sans-serif;
}

* {
	box-sizing: border-box;
}

button {
	padding: 0.5em;
	margin: 0;
	border-radius: 4pt;
	border: 1px solid #2E6DA4;
	font-size: 1em;
	line-height: 1em;
	font-family: Raleway, sans-serif;
	color: #fff;
	background-color: #337AB7;
	cursor: pointer;
}

input {
	height: 1.6em;
	margin: 0;
	padding-left: 0.5em;
	border: 1px solid #ccc;
	border-radius: 2pt;
	font-size: 1em;
	line-height: 1em;
	font-family: Raleway, sans-serif;
	color: #2d2d2d;
}

footer {
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}